<section>
        <div class="tit-cabecera">
            <h2>ACERCA DE MI</h2>
        </div>

    <div  class="acerca">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3" id="centrar">
                    <img src="../../../assets/IMG_20210115_130426.jpg" alt="Imagen de perfil" id="fotoperfil"> 
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
                    <div class="acercatxt">
                        <h2>Julian Correa</h2>
                        <h3>Desarrollador Full Stack jr.</h3>
                        <p>¡Hola! a la par de mis estudios y proyectos de programación, estoy trabajando como coordinador de obras en una empresa dedicada a instalaciones de energía solar. Actualmente vivo en Mar del Plata y tengo 29 años. </p>
                    </div>  
                </div>
            </div>
        </div>      
                 
        
    </div>
</section>