<section>
        <div class="tit-cabecera">
            <h2>FORMACION ACADÉMICA</h2>
        </div>
            
        <div class="trabajo">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" >
                        <h3>Cursos de formación profesional</h3>
                        <ul>
                            <li>Curso de Programación Full Stack Web. CFP 401 Tres Arroyos. <span>Cursada en proceso.</span> </li>
                            <li>Curso de Programación Full Stack Web. INTI Argentina Programa. <span>Cursada en proceso.</span></li>
                            <li>Curso de Ingles Técnico. INTI Argentina Programa. <span>Cursada en proceso.</span></li>
                        </ul>
                        <h3>Carrera de grado</h3>
                        <ul>
                            <li>Arquitectura: FAUD - UNMDP- Mar del Plata <span>Cursada en proceso.</span></li>
                        </ul>
                        <h3>Educación escuela secundaria</h3>
            
                        <ul>
                            <li>Título: Técnico en equipos e instalaciones electromecánicas. EET N°1- Tres Arroyos. <span>Año de inicio: 2004- Año de finalización: 2010 </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>   
</section>
