#gral {    
    font-family: "Helvetica", Sans-serif;
    background-color: rgb(143, 143, 143);
    margin:0%;
    
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
a{font-size: 1.25em;}



#banner{
    display: flex;
    object-fit: cover;
    flex-direction: column; 
    height: fit-content;     
}

#titulo{
    
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    position: absolute;
    top: 55%;
}
nav{
    position: sticky;
    bottom: 490px;
}


#arriba{
    background-color:rgba(189, 189, 189);
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
 }


div .col-10{

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#botones{
    display: flex;
    align-items: center;    

}


#logo{
    position: relative;
    right: 100px;
    width: 100px;
}

#in{
    position: relative;
    right: 50px;
    width: 60px; 
    
}
#git{
    position: relative;
    right: 25px;
    width: 60px; 
    
}
#ig{
    position: relative;
    width: 60px;     
}
#nombre{
    font-weight: bold;
    font-size: 2.4em;
    padding-left: 40px;
}
#acerca h2{
    text-align: center;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 100px;
}
#acerca p{
padding-left: 25px;
padding-right: 25px;
padding-top: 15px;
text-align:justify;
margin-right: 30px;

}
.dedica{
    position: relative;
    left: 25px;
    top: 70px;
    text-align: left;
    padding-left: 25px;
    display: flex;
    font-weight: bold;

}
.caja-acerca{
    background-color: rgba(189, 189, 189);
    display: flex;
    position: relative;
    left: 118px;   
}

#exp h1{
    display: inline;
}
#exp h3{
    display: inline;
}

@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 18%;
        border-radius: 100%;
        left: 1.5%;
        top: 171%;
        box-shadow: 4px 4px 4px black;
        

    }
}

