<section>
    <div class="tit-cabecera">
        <h2>HARD & SOFT SKILLS</h2>
    </div>

    <div class="container-fluid" class="hab">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3>Hard Skills</h3>
            </div>

            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <circle-progress
                    [percent]="40"
                    [radius]="80"
                    [title]="'HTML/CSS'"
                    [titleColor]="'#000000'"
                    [showUnits]="false"
                    [showSubtitle]="true"
                    [subtitle]="'Frontend'"
                    [subtitleFontSize]="'16'"
                    [subtitleColor]="'#000000'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffffff'"
                    [innerStrokeColor]="'#562f7a'"
                    [innerStrokeWidth]="'6'"
                    [outerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="550">
                </circle-progress>
            </div>
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <circle-progress
                    [percent]="35"
                    [radius]="80"
                    [title]="'Bootsrap'"
                    [titleColor]="'#000000'"
                    [showUnits]="false"
                    [showSubtitle]="true"
                    [subtitle]="'Frontend'"
                    [subtitleFontSize]="'16'"
                    [subtitleColor]="'#000000'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffffff'"
                    [innerStrokeColor]="'#562f7a'"
                    [innerStrokeWidth]="'6'"
                    [outerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="550">
                </circle-progress>
            </div>
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <circle-progress
                    [percent]="35"
                    [radius]="80"
                    [title]="'TypeScript'"
                    [titleColor]="'#000000'"
                    [titleFontSize]="'20'"
                    [showUnits]="false"
                    [showSubtitle]="true"
                    [subtitle]="'Frontend/Backend'"
                    [subtitleFontSize]="'16'"
                    [subtitleColor]="'#000000'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffffff'"
                    [innerStrokeColor]="'#562f7a'"
                    [innerStrokeWidth]="'6'"
                    [outerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="550">
                </circle-progress>
            </div>
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <circle-progress
                    [percent]="25"
                    [radius]="80"
                    [title]="'Javascript'"
                    [titleColor]="'#000000'"
                    [showUnits]="false"
                    [showSubtitle]="true"
                    [subtitle]="'Frontend/Backend'"
                    [subtitleFontSize]="'16'"
                    [subtitleColor]="'#000000'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffffff'"
                    [innerStrokeColor]="'#562f7a'"
                    [innerStrokeWidth]="'6'"
                    [outerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="550">
                </circle-progress>
            </div>
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <circle-progress
                    [percent]="30"
                    [radius]="80"
                    [title]="'Angular'"
                    [titleColor]="'#000000'"
                    [showUnits]="false"
                    [showSubtitle]="true"
                    [subtitle]="'Frontend/Backend'"
                    [subtitleFontSize]="'16'"
                    [subtitleColor]="'#000000'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffffff'"
                    [innerStrokeColor]="'#562f7a'"
                    [innerStrokeWidth]="'6'"
                    [outerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="550">
                </circle-progress>
            </div>
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <circle-progress
                    [percent]="10"
                    [radius]="80"
                    [title]="'MySql'"
                    [titleColor]="'#000000'"
                    [showUnits]="false"
                    [showSubtitle]="true"
                    [subtitle]="'Base de datos'"
                    [subtitleFontSize]="'16'"
                    [subtitleColor]="'#000000'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffffff'"
                    [innerStrokeColor]="'#562f7a'"
                    [innerStrokeWidth]="'6'"
                    [outerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="550">
                </circle-progress>
            </div>
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <circle-progress
                    [percent]="40"
                    [radius]="80"
                    [title]="'GitHub'"
                    [titleColor]="'#000000'"
                    [showUnits]="false"
                    [showSubtitle]="true"
                    [subtitle]="'Repositorio'"
                    [subtitleFontSize]="'16'"
                    [subtitleColor]="'#000000'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffffff'"
                    [innerStrokeColor]="'#562f7a'"
                    [innerStrokeWidth]="'6'"
                    [outerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="550">
                </circle-progress>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3>Soft Skills</h3>
            </div>
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <circle-progress
                    [percent]="80"
                    [radius]="80"
                    [title]="'Comunicación'"
                    [titleColor]="'#000000'"
                    [titleFontSize]="'16'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [subtitle]="'Frontend'"
                    [subtitleFontSize]="'16'"
                    [subtitleColor]="'#000000'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffffff'"
                    [innerStrokeColor]="'#562f7a'"
                    [innerStrokeWidth]="'6'"
                    [outerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="550">
                </circle-progress>
            </div>
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <circle-progress
                    [percent]="85"
                    [radius]="80"
                    [title]="'Trabajo en equipo'"
                    [titleColor]="'#000000'"
                    [titleFontSize]="'16'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [subtitle]="'Frontend'"
                    [subtitleFontSize]="'16'"
                    [subtitleColor]="'#000000'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffffff'"
                    [innerStrokeColor]="'#562f7a'"
                    [innerStrokeWidth]="'6'"
                    [outerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="550">
                </circle-progress>
            </div>            
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <circle-progress
                    [percent]="90"
                    [radius]="80"
                    [title]="'Actitud proactiva'"
                    [titleFontSize]="'16'"
                    [titleColor]="'#000000'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [subtitle]="'Frontend'"
                    [subtitleFontSize]="'16'"
                    [subtitleColor]="'#000000'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffffff'"
                    [innerStrokeColor]="'#562f7a'"
                    [innerStrokeWidth]="'6'"
                    [outerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="550">
                </circle-progress>
            </div>            
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <circle-progress
                    [percent]="85"
                    [radius]="80"
                    [title]="'Adaptabilidad'"
                    [titleFontSize]="'16'"
                    [titleColor]="'#000000'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [subtitle]="'Frontend'"
                    [subtitleFontSize]="'16'"
                    [subtitleColor]="'#000000'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffffff'"
                    [innerStrokeColor]="'#562f7a'"
                    [innerStrokeWidth]="'6'"
                    [outerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="550">
                </circle-progress>
            </div>            
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <circle-progress
                    [percent]="85"
                    [radius]="80"
                    [title]="'Atención al detalle'"
                    [titleFontSize]="'16'"
                    [titleColor]="'#000000'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [subtitle]="'Frontend'"
                    [subtitleFontSize]="'16'"
                    [subtitleColor]="'#000000'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffffff'"
                    [innerStrokeColor]="'#562f7a'"
                    [innerStrokeWidth]="'6'"
                    [outerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="550">
                </circle-progress>
            </div>            
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <circle-progress
                    [percent]="85"
                    [radius]="80"
                    [title]="'Pensamiento crítico'"
                    [titleFontSize]="'16'"
                    [titleColor]="'#000000'"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [subtitle]="'Frontend'"
                    [subtitleFontSize]="'16'"
                    [subtitleColor]="'#000000'"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#ffffff'"
                    [innerStrokeColor]="'#562f7a'"
                    [innerStrokeWidth]="'6'"
                    [outerStrokeWidth]="8"
                    [animation]="true"
                    [animationDuration]="550">
                </circle-progress>
            </div>            
        </div>
    </div>
</section>