<section>
    <div class="tit-cabecera">
        <h2>EXPERIENCIA LABORAL</h2>
    </div>

    <div class="contiene-trabajos">
        <div class="trabajo">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                        <ul>
                            <li id="sinPuntos" ngFor= "let experiencia for Experiencia">
                                <h2>Responsable de coordinación técnica</h2>
                                <h3>Energe - Energía Solar</h3>
                                <p>mar. 2021 - actualidad</p>
                                <p>Mar del Plata, Provincia de Buenos Aires, Argentina</p>
                                <ul>
                                    <li>Planificación, coordinación y seguimiento de tareas.</li>
                                    <li>Gestión e interpretación de documentación técnica, replanteo en obra,
                                        coordinación con gremios y representantes técnicos.</li>
                                    <li>Gestión y control de materiales e insumos.</li>
                                    <li>Asesoramiento técnico</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 offset-lg-1 col-xl-2 offset-lg-1">
                        <img src="../../../assets/pexels-pixabay-356036.jpg" alt="paneles solares" class="panel">
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="trabajo">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7" >

                        <h2>Sobrestante de obra</h2>
                        <h3>Buitron Clima SRL</h3> 
                        <p>jul. 2017 - mar. 2021</p> 
                        <p>Mar del Plata, Provincia de Buenos Aires, Argentina</p> 
            
                        <ul>
                            <li>Planificación, coordinación y seguimiento de tareas.</li>
                            <li>Gestión e interpretación de documentación técnica y replanteo en obra.</li>        
                            <li>Coordinación con gremios y representantes técnicos.</li>
                        </ul>
                    </div>
            
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 offset-lg-1 col-xl-2 offset-lg-1">
                        <img src="../../../assets/pexels-kawser-hamid-176342.jpg" alt="Dirección de obra" class="panel"> 
                    </div>
                </div>
            </div>    
        </div>


        <div class="trabajo">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7" >
                            
                        <h2>Proyectista</h2>
                        <h3>Buitron Clima SRL</h3> 
                        <p>jul. 2014 - mar. 2017</p> 
                        <p>Mar del Plata, Provincia de Buenos Aires, Argentina</p> 
                        
                        <ul>
                            <li>Dibujante de proyectos de sistemas de calefacción, ventilación y aire acondicionado.</li>
                            <li>Diseño de instalaciones: calefacción por piso radiante, sistema de radiadores, aire acondicionado por conductos, splits de pared, ventilaciones forzadas.</li>        
                            <li>Calculista: balance térmico, selección de equipos y artefactos según proyecto, cálculo de materiales y presupuesto.</li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 offset-lg-1 col-xl-2 offset-lg-1">
                        <img src="../../../assets/pexels-lex-photography-1109541.jpg" alt="Armado de planos" class="panel"> 
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>